
/****HEADER****/
.header {
    &__div-logo {
        height: 64px;
        position: relative;
        @include desktop-only {
            height: 96px;      
        }
        &__img {
            width: 10rem;
            height: 2.1rem;
            @include center-all-50;
            @include desktop-only {
                width: 15rem;
                height: 2.5rem;
            }
        }
        &__link {
            position: absolute;
            top: 50%;
            left: 23px;
            transform: translateY(-50%);
            color: $fourth-color;
        }
    }
    &.menus {
        max-height: 283px; /*from here and below, set a smaller height to container */
        @include desktop-only { /*compared to content in order to have the overflowing*/
            max-height: 439px; /* image with z-index:-1; and the menu on top of it*/
        };
    }
    &__backgrd {
        height: 275px;
        @include desktop-only {
            height: 383px;
        };
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}


/****FOOTER****/

.footer {
    background-color: $fourth-color;
    padding: 22px 25px;
    color: $footer-font-color;
    box-sizing: border-box;
    @include flex-clm;
    align-items: baseline;
    gap: 1rem;
    &__logo {
        height: 1.25rem;
    }
    &__links {
        @include flex-clm;
        gap: 0.4375rem;
        align-items: baseline;
    }
    @include from-tablet-up {
        font-size: 1.1rem;
        height: 114px;
        padding: 35px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: flex-end;
        &__logo {
            height: 1.35rem;
        }
        &__links {
            @include flex-r-ai-center;
            gap: 15px;
        }
    }
    @media (min-width: 1440px) {
        padding-right: 15vw;
    }
}
.white-svg {
    @include filter-svg-white;
}
