
/****HEADER****/
.header {
    &__div-logo {
        height: 64px;
        position: relative;
        &__img {
            @include header-logo;
        }
        &__link {
            position: absolute;
            top: 50%;
            left: 23px;
            transform: translateY(-50%);
            color: $fourth-color;
        }
    }
    &.menus {
        max-height: 339px;
    }
    &__backgrd {
        height: 325px;
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}


/****FOOTER****/

.footer {
    background-color: $fourth-color;
    padding: 22px 25px;
    color: $footer-font-color;
    @include flex-clm;
    align-items: baseline;
    gap: 1rem;
    &__logo {
        height: 1.25rem;
    }
    &__links {
        @include flex-clm;
        gap: 0.4375rem;
        align-items: baseline;
    }
}
.white-svg {
    @include filter-svg-white;
}

@media  (min-width: 768px) {
    /****Footer****/
    .footer {
        font-size: 1.1rem;
        height: 114px;
        padding: 35px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        align-items: flex-end;
        &__logo {
            height: 1.35rem;
        }
        &__links {
            @include flex-r-ai-center;
            gap: 15px;
        }
    }
}