
.pink-gradt-button {
    box-sizing: border-box;
    height: 50px;
    width: 218px;
    font-weight: 500;
    padding: 0.81rem 1rem;
    border-radius: 25px;
    background: $linear-gradient;
    color: $footer-font-color;
    @include flex-r-all-center;
    position: relative;
    z-index: 1;
    transition: opacity 0.20s ease-in-out;
    &:hover {
        opacity: 0.85;
        &::after {
            opacity: 1;
        }
        &::before {
            opacity: 0;
        }
    }
    &::before {
        @include pseudo-elmt-full-size;
        border-radius: 25px;
        z-index: -1;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.30);
        opacity: 1;
        transition: opacity 0.15s ease-out;
    }
    &::after {
        @include pseudo-elmt-full-size;
        border-radius: 25px;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.45);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.25s ease-in-out;
    }
}
