
/****restaurant cards****/
.card {
    height: 251px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    &__link {
        position: unset;
        &__img {
            box-sizing: border-box;
            height: 72%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
        &__txt {
            padding: 8px 13px 13px 13px;
            @include flex-clm;
            gap: 5px;
            justify-content: space-between;
            &__title {
                font-size: $small-title;
                font-weight: 700;
                & + p {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
        &__new {
            z-index: 12;
            position: absolute;
            right: 12px;
            top: 12px;
            background-color: $highlight-color;
            color: $highlight-txt-color;
            width: 80px;
            height: 29px;
            @include flex-r-all-center;
            animation: subterfuge 0.25s ease-in both $disappear-delay;
        }
    }
    .checkbox-heart {
        position: absolute;
        bottom: 8.5%;
        right: 33px;
    }
}

/****menu cards****/
/*a simplified HTML layout means less specific selectors 
but unfortunatly also a more complicated css*/
.dish-card {
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    @include flex-r-ai-center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    &__details {
        @include flex-clm-jc-center; /*is needed to ensure that the price
                and text alignment stays right given the extra span */
        > span {
        display: inline-block;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - ($dish-spacing-width)); 
/*to ensure a good "overflow: ellipsis" given the absolut position of the element on the right*/
        }
    }
    &__h3 {
        width: 90%;
        padding-left: 15px;
        font-weight: 500;
        font-size: $small-title;
    }
    p {
        font-size: $small-txt;
    }       
    &__txt {
        padding-left: 15px;
        font-weight: 300;
        width: 75%;
    }
    &__price {
        box-sizing: border-box;
        padding-right: 15px;
        font-weight:700;
        width: $dish-price-width;
        text-align: end;
        transition: transform 0.18s cubic-bezier(.55,.01,.71,1.57) 0.025s;
    }   
    &__check {
        position: absolute;
        right: 0;
        flex-shrink: 0;
        width: $dish-check-width;
        height: 100%;
        color: $footer-font-color;
        border-radius: 0px 15px 15px 0px;
        background-color: $highlight-color;
        transform-origin: right;
        transform: scale(0, 0.5);
        opacity: 0;
        transition: transform 0.18s cubic-bezier(.67,-0.01,.71,1.46);
        > * {
            @include center-all-50;
        }
    }
}