

/*adds a "ghost" input type checkbox with position absolute
 and opacity=0 in order to make the container clickable
 with some custom content*/

.checkbox-heart {
    @include fancy-check;
}

.checkbox-dish {
    position: relative;
    &__ghost-check {
        cursor: pointer;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;        
        &:checked {
            ~ .checked {
                opacity: 1;
                transform: scale(1, 1);
            }
            ~ .dish-card  {
                &__price {
                transform: translateX($dish-check-width*-1);
                }
                &__details > span {
                    width: calc(100% - ($dish-check-width + $dish-spacing-width));
                }
            }
        }
        /*In order to avoid text overlapping when unchecked*/                    
        &:not(:checked) {
            ~ .dish-card  {
                &__price {
                    animation: subterfuge 0.20s ease-in both;
                }
            }
        }
    }
}