

.checkbox-heart {
    @include fancy-check;
}

.checkbox-dish {
    position: relative;
    &__ghost-check {
        cursor: pointer;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;
        &:checked {
            ~ .checked {
                opacity: 1;
                transform: scaleX(1);
            }
            ~ .dish-card  {
                &__price {
                transform: translateX($dish-check-width*-1);
                }
                &__details > span {
                    width: calc(100% - ($dish-check-width + $spacing-width));
                }
            }
        }
    }
}