* {
    font-family: 'Roboto';
}
body {
    margin: 0;
    font-size: 16px;
}

h1, h2 {
    font-size: $big-title;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.disabled-link {
    pointer-events: none;
}
ul {
    list-style-type: none; /*enlever les points de liste et espace par défaut*/
    padding-left: 0;
    margin: 0;
}
input {
    background-color: inherit;
    border: none;
}
::placeholder {
    color: $fourth-color;
    opacity: 1;
    font-size: 1rem;
    font-family: 'Roboto';
}
.fa-solid.fa-heart {
    font-weight: 100;
}