@charset "UTF-8";
/**********HOME**********/
/****DISCOVER****/
/****GUIDELINES****/
/*ici gauche et droite != car décalage de 12px du rond rose*/
/****RESTAURANTS****/
/****TOOLS****/
/****ELEMENTS OF HOME THAT CAN BE USED ON OTHER PAGES****/
/****ELEMENTS OF HOME/GUIDELINES THAT COULD BE USED LATER****/
/****ELEMENTS OF HOME/RESTAURANTS THAT COULD BE USED LATER****/
body {
  margin: 0;
  font-size: 16px;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.disabled-link {
  pointer-events: none;
}

ul {
  list-style-type: none; /*enlever les points de liste et espace par défaut*/
  padding-left: 0;
  margin: 0;
}

input {
  background-color: inherit;
  border: none;
  margin: 0;
}

button {
  border: none;
}

* {
  font-family: "Roboto";
}

h1, h2 {
  font-size: 1.5rem;
}

::placeholder {
  color: #353535;
  opacity: 1;
  font-size: 1rem;
  font-family: "Roboto";
}

.fa-solid.bypass-thin {
  font-weight: 100;
}

.pink-gradt-button {
  box-sizing: border-box;
  height: 50px;
  width: 218px;
  font-weight: 500;
  padding: 0.81rem 1rem;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
}
.pink-gradt-button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
}

.checkbox-heart {
  position: relative;
  height: 22px;
  width: 22px;
  font-size: 21px;
}
.checkbox-heart .ghost-check {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox-heart .ghost-check:hover ~ .unchecked-icon {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.checkbox-heart .ghost-check:hover ~ .checked-icon {
  text-shadow: 1px 1px 3px rgba(182, 86, 220, 0.6431372549);
}
.checkbox-heart .ghost-check:checked ~ .checked-icon {
  opacity: 1;
  transform: scale(1);
}
.checkbox-heart .ghost-check:checked ~ .unchecked-icon {
  opacity: 0;
}
.checkbox-heart .checked-icon {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: transform 150ms cubic-bezier(0.01, 0.5, 1, 0.57), opacity 350ms;
  transform: scale(0.01);
}
.checkbox-heart .unchecked-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms 100ms;
}

.checkbox-dish {
  position: relative;
}
.checkbox-dish__ghost-check {
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.checkbox-dish__ghost-check:checked ~ .checked {
  opacity: 1;
  transform: scaleX(1);
}
.checkbox-dish__ghost-check:checked ~ .affected .affected__el {
  transform: translateX(-59px);
}
.checkbox-dish__ghost-check:checked ~ .ditchAffected {
  transform: translateX(-59px);
}

/****restaurant cards****/
.card {
  height: 251px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
.card__link {
  position: unset;
}
.card__link__img {
  box-sizing: border-box;
  height: 72%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__link__txt {
  padding: 8px 13px 13px 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}
.card__link__txt__title {
  font-size: 1.125rem;
  font-weight: 700;
}
.card__link__txt__title + p {
  font-size: 1rem;
  font-weight: 300;
}
.card__link__new {
  z-index: 2;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .checkbox-heart {
  position: absolute;
  bottom: 8.5%;
  right: 33px;
}

/****menu cards****/
.dish-card {
  box-sizing: border-box;
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.dish-card__h3 {
  padding-top: 12px;
  padding-left: 15px;
  width: 100%;
  font-weight: 500;
  font-size: 1.125rem;
}
.dish-card p {
  padding-bottom: 12px;
  font-size: 0.9475rem;
}
.dish-card__txt {
  padding-left: 15px;
  font-weight: 300;
}
.dish-card__price {
  padding-right: 15px;
  font-weight: 700;
}
.dish-card__check {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  width: 59px;
  height: 100%;
  color: #FFFFFF;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transform-origin: right;
  transform: scaleX(0.01);
  opacity: 0;
  transition: transform 1000ms ease-in-out;
}
.dish-card__check > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ditsh-card {
  box-sizing: border-box;
  width: 100%;
  height: 69px;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.ditsh-card__info {
  padding: 12px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}
.ditsh-card__price {
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.ditsh-card__check {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  width: 59px;
  height: 100%;
  color: #FFFFFF;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transform-origin: right;
  transform: scaleX(0.01);
  opacity: 0;
  transition: transform 1000ms ease-in-out;
}
.ditsh-card__check > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  height: 100%;
  max-width: 650px;
  padding: 40px 13px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: auto;
}
.menu__head {
  box-sizing: border-box;
  width: 100%;
  padding: 0 28px 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__head__h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.75rem;
}
.menu__sect {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__sect__h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}
.menu__sect__h2:after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu__sect__dishes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/****HEADER****/
.header__div-logo {
  height: 64px;
  position: relative;
}
.header__div-logo__img {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__div-logo__link {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  color: #353535;
}
.header.menus {
  max-height: 339px;
}
.header__backgrd {
  height: 325px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/****FOOTER****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}
.footer__logo {
  height: 1.25rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  align-items: baseline;
}

.white-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(18deg) brightness(105%) contrast(103%);
}

@media (min-width: 768px) {
  /****Footer****/
  .footer {
    font-size: 1.1rem;
    height: 114px;
    padding: 35px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: flex-end;
  }
  .footer__logo {
    height: 1.35rem;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
/****HEADER****/
.header__form {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.header__form label {
  color: #353535;
}
.header__form input:focus {
  outline: none;
  border: none;
}

/****DISCOVER*****/
.discover {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  text-align: center;
  align-items: center;
  background-color: #F7F7F7;
}
.discover__description {
  font-size: 1.125rem;
  color: #353535;
}

/****GUIDELINES****/
.guidelines {
  padding: 23px 20px 68px 32px;
}
.guidelines__title {
  padding: 25px 0;
  transform: translate(-12px); /*in order to align with the number below wich is 24px wide but halfway translated left*/
}
.guidelines__lines {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.guidelines__lines__line {
  width: 100%;
  max-width: 450px;
  height: 73px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  font-weight: 500;
}
.guidelines__lines__line__number {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
}

/****RESTAURANTS****/
.restaurants {
  background-color: #F7F7F7;
  padding: 50px 15px;
}
.restaurants__title {
  padding-bottom: 27px;
}
.restaurants__cards {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
}

@media (min-width: 768px) {
  .discover__title {
    font-size: 2.5rem;
  }
  .guidelines > * {
    max-width: 1100px;
    margin: auto;
  }
  .guidelines__lines {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .restaurants > * {
    max-width: 1100px;
    margin: auto;
  }
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
/****HEADER****/
.header__palette {
  background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

/****HEADER****/
.header__enchantee {
  background-image: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

/****HEADER****/
.header__francaise {
  background-image: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

/****HEADER****/
.header__delice {
  background-image: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/*# sourceMappingURL=style.css.map */
