@charset "UTF-8";
/**COLORS**/
/**font sizes*/
/************menus*********/
/**********HOME**********/
/****LOADER****/
/**because there is a hight z-index : 
 needs to be gone just after the effects**/
/****DISCOVER****/
/****GUIDELINES****/
/*ici gauche et droite != car décalage de 12px du rond rose*/
/****RESTAURANTS****/
/****TOOLS****/
/****ELEMENTS OF HOME THAT CAN BE USED ON OTHER PAGES****/
/****ELEMENTS OF HOME/GUIDELINES THAT COULD BE USED LATER****/
/****ELEMENTS OF HOME/RESTAURANTS THAT COULD BE USED LATER****/
/***old versions***/
/**for pink-gradient-button**/
@keyframes shake-it {
  from {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.56, 0.05, 0.49, 0.6);
  }
  to {
    transform: translate(0.3%, 1.2%);
    animation-timing-function: cubic-bezier(0.4, 0.56, 1, 0.57);
  }
}
@keyframes subterfuge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes transX {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(30%);
  }
}
@keyframes loader-down-twist {
  from {
    transform: translate(100%, -150%) rotate(30deg) scale(0.6, 1.3);
    opacity: 0;
  }
  90% {
    transform: translate(5%, 10%) rotate(10deg) scale(1.2, 0.8);
    opacity: 1;
  }
  to {
    transform: translate(0%, 0%) rotate(0deg) scale(1, 1);
    opacity: 1;
  }
}
@keyframes loader-fade-out {
  from {
    opacity: 1;
    animation-timing-function: linear;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.68, 0, 0.59, 1.04);
  }
}
/************IMAGES LOADER***********/
@keyframes loader-img-anim1 {
  from {
    transform: translate(-100%, -70%) scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%) scale(1, 1);
    opacity: 1;
  }
}
@keyframes loader-img-anim2 {
  from {
    transform: translate(-100%, -70%) scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: translate(50%, -17.2%) scale(1, 1);
    opacity: 1;
  }
}
@keyframes loader-img-anim3 {
  from {
    transform: translate(-100%, -70%) scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: translate(100%, -34.4%) scale(1, 1);
    opacity: 1;
  }
}
@keyframes loader-img-anim4 {
  from {
    transform: translate(-100%, -70%) scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: translate(150%, -51.6%) scale(1, 1);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: translate(500%, 500%) scale(0);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes descent {
  from {
    transform: translateY(-30vh);
  }
  to {
    transform: translateY(0);
  }
}
/************Menu Dishes***********/
@keyframes progressiv-appearance {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
  }
}
body {
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.disabled-link {
  pointer-events: none;
}

ul {
  list-style-type: none; /*enlever les points de liste et espace par défaut*/
  padding-left: 0;
  margin: 0;
}

input {
  background-color: inherit;
  border: none;
  margin: 0;
}

button {
  border: none;
}

* {
  font-family: "Roboto";
  font-size: 16px;
}

h1, h2 {
  font-size: 1.5rem;
}

::placeholder {
  color: #353535;
  opacity: 1;
  font-size: 1rem;
  font-family: "Roboto";
}

.fa-solid.bypass-thin {
  font-weight: 100;
}

.pink-gradt-button {
  box-sizing: border-box;
  height: 50px;
  width: 218px;
  font-weight: 500;
  padding: 0.81rem 1rem;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: opacity 0.2s cubic-bezier(0.71, 0.05, 0.25, 0.87) 0.05s;
}
.pink-gradt-button:hover {
  opacity: 0.835;
  animation: shake-it 0.05s alternate 4;
}
.pink-gradt-button:hover::after {
  opacity: 1;
}
.pink-gradt-button:hover::before {
  opacity: 0;
}
.pink-gradt-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  z-index: -1;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.37);
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0.05s;
}
.pink-gradt-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.57);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s ease-out 0.1s;
}

/*adds a "ghost" input type checkbox with position absolute
 and opacity=0 in order to make the container clickable
 with some custom content*/
.checkbox-heart {
  position: relative;
  height: 23px;
  width: 23px;
  font-size: 21px;
}
.checkbox-heart .ghost-check {
  cursor: pointer;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox-heart .ghost-check:hover ~ .unchecked-icon {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.checkbox-heart .ghost-check:hover ~ .checked-icon {
  text-shadow: 1px 1px 3px rgba(182, 86, 220, 0.6431372549);
}
.checkbox-heart .ghost-check:checked ~ .checked-icon {
  transform: scale(1) rotate(0);
  opacity: 1;
}
.checkbox-heart .ghost-check:checked ~ .unchecked-icon {
  opacity: 0;
  transform: scale(0.35, 0.65);
}
.checkbox-heart .checked-icon {
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: transform 244ms cubic-bezier(0.79, 0.22, 0.62, 1.61), opacity 100ms linear;
  transform: scale(0) rotate(-180deg);
  opacity: 0.5;
}
.checkbox-heart .unchecked-icon {
  font-size: 21px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: transform 228ms cubic-bezier(0.65, 0.11, 0.33, 1.03) 45ms, opacity 163ms cubic-bezier(0.22, 0.72, 0.82, 0.5);
}

.checkbox-dish {
  position: relative;
}
.checkbox-dish__ghost-check {
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  /*In order to avoid text overlapping when unchecked*/
}
.checkbox-dish__ghost-check:checked ~ .checked {
  opacity: 1;
  transform: scale(1, 1);
}
.checkbox-dish__ghost-check:checked ~ .dish-card__price {
  transform: translateX(-59px);
}
.checkbox-dish__ghost-check:checked ~ .dish-card__details > span {
  width: calc(100% - 74px);
}
.checkbox-dish__ghost-check:not(:checked) ~ .dish-card__price {
  animation: subterfuge 0.2s ease-in both;
}

/****restaurant cards****/
.card {
  height: 251px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
.card__link {
  position: unset;
}
.card__link__img {
  box-sizing: border-box;
  height: 72%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__link__txt {
  padding: 8px 13px 13px 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}
.card__link__txt__title {
  font-size: 1.125rem;
  font-weight: 700;
}
.card__link__txt__title + p {
  font-size: 1rem;
  font-weight: 300;
}
.card__link__new {
  z-index: 2;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .checkbox-heart {
  position: absolute;
  bottom: 8.5%;
  right: 33px;
}

/****menu cards****/
/*a simplified HTML layout means less specific selectors 
but unfortunatly also a more complicated css*/
.dish-card {
  box-sizing: border-box;
  width: 100%;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}
.dish-card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*is needed to ensure that the price
  and text alignment stays right given the extra span */
}
.dish-card__details > span {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 15px);
}
.dish-card__h3 {
  width: 90%;
  padding-left: 15px;
  font-weight: 500;
  font-size: 1.125rem;
}
.dish-card p {
  font-size: 0.9475rem;
}
.dish-card__txt {
  padding-left: 15px;
  font-weight: 300;
  width: 75%;
}
.dish-card__price {
  box-sizing: border-box;
  padding-right: 15px;
  font-weight: 700;
  width: 41px;
  text-align: end;
  transition: transform 0.18s cubic-bezier(0.55, 0.01, 0.71, 1.57) 0.025s;
}
.dish-card__check {
  position: absolute;
  right: 0;
  flex-shrink: 0;
  width: 59px;
  height: 100%;
  color: #FFFFFF;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transform-origin: right;
  transform: scale(0, 0.5);
  opacity: 0;
  transition: transform 0.18s cubic-bezier(0.67, -0.01, 0.71, 1.46);
}
.dish-card__check > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  height: 100%;
  max-width: 650px;
  padding: 40px 13px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: auto;
}
.menu__head {
  box-sizing: border-box;
  width: 100%;
  padding: 0 28px 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__head__h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.75rem;
}
.menu__sect {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__sect__h2 {
  transform-origin: left;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}
.menu__sect__h2--1 {
  animation: progressiv-appearance 0.26s ease-in-out both 0.21s;
}
.menu__sect__h2--2 {
  animation: progressiv-appearance 0.26s ease-in-out both 0.42s;
}
.menu__sect__h2--3 {
  animation: progressiv-appearance 0.26s ease-in-out both 0.63s;
}
.menu__sect__h2:after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu__sect__dishes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/****HEADER****/
.header__div-logo {
  height: 64px;
  position: relative;
}
.header__div-logo__img {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__div-logo__link {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  color: #353535;
}
.header.menus {
  max-height: 339px;
}
.header__backgrd {
  height: 325px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/****FOOTER****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}
.footer__logo {
  height: 1.25rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  align-items: baseline;
}

.white-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(18deg) brightness(105%) contrast(103%);
}

@media (min-width: 768px) {
  /****Footer****/
  .footer {
    font-size: 1.1rem;
    height: 114px;
    padding: 35px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: flex-end;
  }
  .footer__logo {
    height: 1.35rem;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}
/**************************LOADER**************************/
.hm-spinner {
  height: 115px;
  width: 115px;
  border: 5px solid transparent;
  border-top-color: #9C27B0;
  border-bottom-color: #9C27B0;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spin 1s linear infinite alternate;
  animation: spin 1s linear infinite alternate;
}

.hm-spinner::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 5px solid transparent;
  border-top-color: #BA68C8;
  border-bottom-color: #BA68C8;
  border-radius: 50%;
  -webkit-animation: spin 1.3s cubic-bezier(0.92, 0.51, 0.1, 0.51) infinite;
  animation: spin 1.3s cubic-bezier(0.92, 0.51, 0.1, 0.51) infinite;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /**because there is a hight z-index : second animation is quick, it needs to be gone just after the effects**/
  animation: loader-fade-out 6.076s both, disappear 0.01s cubic-bezier(1, 0, 0.8, 0.79) both 6.176s;
}
.loader__logo {
  padding: 6vh 5vw 0 5vw;
  transform-origin: top right;
  background: radial-gradient(circle, rgba(125, 52, 213, 0.92) -11.44%, rgba(255, 121, 218, 0.92) 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(166, 52, 213, 0.22);
}
.loader__logo .letter {
  display: inline-block;
  font-family: "Shrikhand", cursive;
  font-size: calc(3.5vw + 3.5vh + 0.5vmin);
  animation: loader-down-twist 0.35s cubic-bezier(0.49, 0.5, 0.51, 1.34) backwards;
}
.loader__logo .letter--1 {
  animation-delay: 3.69375s;
}
.loader__logo .letter--2 {
  animation-delay: 3.7375s;
}
.loader__logo .letter--3 {
  animation-delay: 3.78125s;
}
.loader__logo .letter--4 {
  animation-delay: 3.825s;
}
.loader__logo .letter--5 {
  animation-delay: 3.86875s;
}
.loader__logo .letter--6 {
  animation-delay: 3.9125s;
}
.loader__logo .letter--7 {
  animation-delay: 3.95625s;
}
.loader__logo .letter--8 {
  animation-delay: 4s;
}
.loader__img {
  width: 90vw;
  height: 80vh;
  position: relative;
}
.loader__img .restaurant {
  will-change: transform, opacity;
  position: absolute;
  left: -15%;
  top: 35%;
  width: 50%;
  height: 60%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.45);
  opacity: 0;
}
.loader__img .restaurant--1 {
  animation: loader-img-anim1 0.75s cubic-bezier(0.49, 0.5, 0.51, 1.34) both;
  animation-delay: 2.8875s;
  z-index: -1;
}
.loader__img .restaurant--2 {
  animation: loader-img-anim2 0.75s cubic-bezier(0.49, 0.5, 0.51, 1.34) both;
  animation-delay: 3.075s;
  z-index: -2;
}
.loader__img .restaurant--3 {
  animation: loader-img-anim3 0.75s cubic-bezier(0.49, 0.5, 0.51, 1.34) both;
  animation-delay: 3.2625s;
  z-index: -3;
}
.loader__img .restaurant--4 {
  animation: loader-img-anim4 0.75s cubic-bezier(0.49, 0.5, 0.51, 1.34) both;
  animation-delay: 3.45s;
  z-index: -4;
}
.loader__counter {
  padding-bottom: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  animation: descent 2s cubic-bezier(0.47, -0.5, 0.49, 1.6) 1.6s both;
}
.loader__counter__txt {
  font-family: "Shrikhand";
  font-size: calc((1vw + 1vh + 0.5vmin) * 2);
  color: rgba(166, 52, 213, 0.72);
  animation: subterfuge 1.2s cubic-bezier(0.7, 0.06, 0.74, 1.94) 1s both;
}
.loader__counter__spinner {
  animation: transX 0.8s ease-in-out both 0.8s;
}

/****HEADER****/
.header__form {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.header__form label {
  color: #353535;
}
.header__form input:focus {
  outline: none;
  border: none;
}

/****DISCOVER*****/
.discover {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  text-align: center;
  align-items: center;
  background-color: #F7F7F7;
}
.discover__description {
  font-size: 1.125rem;
  color: #353535;
}

/****GUIDELINES****/
.guidelines {
  padding: 23px 20px 68px 32px;
}
.guidelines__title {
  padding: 25px 0;
  transform: translate(-12px); /*in order to align with the number below wich is 24px wide but halfway translated left*/
}
.guidelines__lines {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.guidelines__lines__line {
  width: 100%;
  max-width: 450px;
  height: 73px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  font-weight: 500;
}
.guidelines__lines__line__number {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
}

/****RESTAURANTS****/
.restaurants {
  background-color: #F7F7F7;
  padding: 50px 15px;
}
.restaurants__title {
  padding-bottom: 27px;
}
.restaurants__cards {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
}

@media (min-width: 768px) {
  .discover__title {
    font-size: 2.5rem;
  }
  .guidelines > * {
    max-width: 1100px;
    margin: auto;
  }
  .guidelines__lines {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .restaurants > * {
    max-width: 1100px;
    margin: auto;
  }
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 100px;
  }
}
/****HEADER****/
.header__palette {
  background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

/****HEADER****/
.header__enchantee {
  background-image: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

/****HEADER****/
.header__francaise {
  background-image: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

/****HEADER****/
.header__delice {
  background-image: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/*# sourceMappingURL=style.css.map */
