@charset "UTF-8";
/**********HOME**********/
/****DISCOVER****/
/****GUIDELINES****/
/*ici gauche et droite != car décalage de 12px du rond rose*/
/****RESTAURANTS****/
/****TOOLS****/
/****ELEMENTS OF HOME/FOOTER THAT CAN BE USED ON OTHER PAGES****/
/****ELEMENTS OF HOME/GUIDELINES THAT COULD BE USED LATER****/
/****ELEMENTS OF HOME/RESTAURANTS THAT COULD BE USED LATER****/
h1, h2, h3, p {
  margin: 0;
}

* {
  font-family: "Roboto";
}

body {
  margin: 0;
  font-size: 16px;
}

h1, h2 {
  font-size: 1.5rem;
}

h1, h2, h3, p {
  /**ici c'est plus un test de fonctionnalité**/
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none; /*enlever les points de liste et espace par défaut*/
  padding-left: 0;
  margin: 0;
}

input {
  background-color: inherit;
  border: none;
}

::placeholder {
  color: #353535;
  opacity: 1;
  font-size: 1rem;
  font-family: "Roboto";
}

.pink-gradt-button {
  box-sizing: border-box;
  height: 50px;
  width: 218px;
  font-weight: 500;
  padding: 0.81rem 1rem;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/****HOME/RESTAURANTS****/
/****HEADER****/
.header__div-logo {
  height: 64px;
  position: relative;
}
.header__div-logo__img {
  width: 10rem;
  height: 2.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****FOOTER****/
.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}
.footer__logo {
  height: 1.25rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  align-items: baseline;
}

.white-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(18deg) brightness(105%) contrast(103%);
}

/****HEADER****/
.header__form {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.header__form label {
  color: #353535;
}
.header__form input:focus {
  outline: none;
  border: none;
}

/****DISCOVER*****/
.discover {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  text-align: center;
  align-items: center;
  background-color: #F7F7F7;
}

/****GUIDELINES****/
.guidelines {
  padding: 23px 20px 68px 32px;
}
.guidelines__title {
  padding: 25px 0;
  transform: translate(-12px); /*in order to align with the number below wich is 24px wide but halfway translated left*/
}
.guidelines__lines {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.guidelines__lines__line {
  width: 100%;
  max-width: 450px;
  height: 73px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 23px;
  font-weight: 500;
}
.guidelines__lines__line__number {
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.875rem;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/****RESTAURANTS****/
.restaurants {
  background-color: #F7F7F7;
  padding: 50px 15px;
}
.restaurants__title {
  padding-bottom: 27px;
}
.restaurants__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
}
.restaurants__cards .card {
  height: 251px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
.restaurants__cards .card__link {
  position: unset;
}
.restaurants__cards .card__link__img {
  height: 72%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards .card__link__txt {
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__cards .card__link__txt__title {
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants__cards .card__link__txt__title + p {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants__cards .card__link__txt .fa-heart {
  color: black;
  font-weight: 700;
  font-size: larger;
}
.restaurants__cards .card__link__new {
  z-index: 2;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
