//i want to create a loader for the home page. It will use the company name ohmyfood and the font familly shrinkhand. The logo 
//should appear in the middle of the page and a background should be applied to the logo with a radial gradient that is moving.
//There will be a loader animation with numbers going from 0 to 100% and a text saying "loading" in the bottom part of the page.


/**************************LOADER**************************/
.hm-spinner{
    height: 115px;
    width: 115px;
    border: 5px solid transparent;
    border-top-color: #9C27B0;
    border-bottom-color: #9C27B0;
    border-radius: 50%;
    position: relative;
    -webkit-animation: spin 1s linear infinite alternate;
            animation: spin 1s linear infinite alternate;
  }
  
  .hm-spinner::before{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 5px solid transparent;
    border-top-color: #BA68C8;
    border-bottom-color: #BA68C8;
    border-radius: 50%;
    -webkit-animation: spin 1.3s cubic-bezier(.92,.51,.1,.51) infinite;
    animation: spin 1.3s cubic-bezier(.92,.51,.1,.51) infinite;
  
  }
.loader {
    &__background {
        background-color: adjust-color($loader-bg-color, $alpha: -0.15);
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    /**because there is a hight z-index : second animation is quick, it needs to be gone just after the effects**/
    animation: loader-fade-out $loader-duration both, disappear 0.01s cubic-bezier(1,0,.8,.79) both $disappear-delay;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    padding: 10vh 0;
    @include flex-clm-ai-center;
    justify-content: center;
    gap: 20vh;
    @media (min-width: 1024px) {
        gap: 35vh;
        justify-content: flex-start;
    }
        /**because there is a hight z-index : second animation is quick, it needs to be gone just after the effects**/
        animation: loader-fade-out $loader-duration both, disappear 0.01s cubic-bezier(1,0,.8,.79) both $disappear-delay;
    &__logo {
        padding: $vertical-space $horizontal-space 0 $horizontal-space;
        transform-origin: top right;
        .letter {
            display: inline-block;
            font-family: 'Shrikhand', cursive;
            font-size: $loader-size;
            background: linear-gradient(60deg, $loader-color1 -11.44%, $loader-color2 123.93%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            padding: 0 25px; /*to avoid letter cut-off -> see comment in Readme/LOADER*/
            margin: 0 -25px;
            animation: loader-down-twist $logo-anim-duration cubic-bezier(.49,.5,.51,1.34) backwards;        
            @for $i from 1 through 8 {
                &--#{$i} {
                    animation-delay: calc(($letter-anim-delay * $i) + $logo-anim-delay);
                }                
            }
        }        
    }
    
    &__counter {
        padding-bottom: $vertical-space;
        @include flex-r-all-center;
        gap: 10%;
        animation: descent $counter-anim-duration cubic-bezier(.47,-0.5,.49,1.6) $counter-anim-delay both;
        @media (min-width: 1024px) {
            animation: ascent $counter-anim-duration cubic-bezier(.47,-0.5,.49,1.6) $counter-anim-delay both;
        }
        &__txt {
            font-family: 'Shrikhand';
            font-size: $counter-size;
            color: $counter-color;  
            animation: subterfuge 1.2s cubic-bezier(.7,.06,.74,1.94) 1s both ;
        }
        &__spinner {
            animation: transX 0.8s ease-in-out both 0.8s;
        }
    }        
}
/****HEADER****/
.header {
    &__form {
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 50px;
        background-color: $third-bg-color;
        @include flex-r-ai-center;
        justify-content: center;
        gap: 17px;
        & label {
            color: $fourth-color;
        }
        & input:focus {
            outline: none;
            border: none;
        }
    }
}

/****DISCOVER*****/

.discover {
    padding: $discover-bx-paddg;
    @include flex-clm;
    gap: 27px;
    text-align: center;
    align-items: center;
    background-color: $secondary-bg-color;
    &__description {
        font-size: $small-title;
        color: $fourth-color;
    }
}

/****GUIDELINES****/
.guidelines {
    padding: $guidelines-bx-paddg;
    &__title {
        padding: 25px 0;
        transform: translate(-12px); /*in order to align with the number below wich is 24px wide but halfway translated left*/
    }
    &__lines{
        @include flex-clm;
        gap: 25px;      
        &__line {
            @include guidelines-boxes;
            &__number {
                @include circle-number;
                transform: translate(-50%);
            }
        }
    }
}
/****RESTAURANTS****/

.restaurants {
    background-color: $secondary-bg-color;
    padding: $restrt-bx-paddg;
    &__title {
        padding-bottom: 27px;
    }
    &__cards {
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 18px;
        .img-anim {
            @media (min-width: 1024px) {
                position: relative; 
                z-index: 11;
                @for $n from 1 through 4 {
                    &-#{$n} {
                        animation: img-translation#{$n} $imgs-anim-duration both;
                        animation-delay: calc(($img-anim-delay*$n) + $imgs-anim-delay);
                    }
                }
            }
            
        }
    }

}

@media  (min-width: 768px) {
    .discover {
        &__title {
            font-size: $huge-title;
        }
    }
    .guidelines {
        > * {
            max-width: 1100px;
            margin: auto;
        }
        &__lines {
            @include flex-r-ai-center;
        }
    }
    .restaurants {
        > * {
            max-width: 1100px;
            margin: auto;
        }
        &__cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }
}