//i want to create a loader for the home page. It will use the company name ohmyfood and the font familly shrinkhand. The logo 
//should appear in the middle of the page and a background should be applied to the logo with a radial gradient that is moving.
//There will be a loader animation with numbers going from 0 to 100% and a text saying "loading" in the bottom part of the page.


/****LOADER****/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: adjust-color($loader-bg-color, $alpha: -0.15);
    z-index: 500;
    @include flex-clm-ai-center;
    justify-content: space-between;
    animation: loader-fade-out $loader-duration cubic-bezier(1,0,.8,.79) both, disappear 0.01s cubic-bezier(1,0,.8,.79) both $disappear-delay;	
    &__logo {
        padding: $vertical-space $horizontal-space 0 $horizontal-space;
        transform-origin: top right;
        background: radial-gradient(circle, $loader-color1 -11.44%, $loader-color2 123.93%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        .letter {
            will-change: transform, opacity;
            display: inline-block;
            font-family: 'Shrikhand', cursive;
            font-size: $loader-size;
            animation: loader-down-twist $logo-anim-duration cubic-bezier(.49,.5,.51,1.34) both;        
            @for $i from 1 through 8 {
                &--#{$i} {
                    animation-delay: calc(($letter-anim-delay * $i) + $logo-anim-delay);
                }                
            }
        }        
    }
    &__img {
        width: 90vw;
        height: 80vh;
        position: relative;
        .restaurant {
            will-change: transform, opacity;
            position: absolute;
            left: -15%;
            top: 35%;
            width: 50%;
            height: 60%;
            object-fit: cover;
            border-radius: 25px;
            box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.45);
            opacity: 0;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation: loader-img-anim#{$i} $imgs-anim-duration cubic-bezier(.49,.5,.51,1.34) both;
                    animation-delay: calc(($img-anim-delay * $i) + $imgs-anim-delay);
                    z-index: $i*-1;
                }                
            }
        }
    }
    &__counter {
        padding-bottom: $vertical-space;
        @include flex-r-all-center;
        font-family: 'Shrikhand';
        font-size: $counter-size;
        color: adjust-color($loader-color1, $hue: 15deg, $alpha: -0.3);        
    }        
}
/****HEADER****/
.header {
    &__form {
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 50px;
        background-color: $third-bg-color;
        @include flex-r-ai-center;
        justify-content: center;
        gap: 17px;
        & label {
            color: $fourth-color;
        }
        & input:focus {
            outline: none;
            border: none;
        }
    }
}

/****DISCOVER*****/

.discover {
    padding: $discover-bx-paddg;
    @include flex-clm;
    gap: 27px;
    text-align: center;
    align-items: center;
    background-color: $secondary-bg-color;
    &__description {
        font-size: $small-title;
        color: $fourth-color;
    }
}

/****GUIDELINES****/
.guidelines {
    padding: $guidelines-bx-paddg;
    &__title {
        padding: 25px 0;
        transform: translate(-12px); /*in order to align with the number below wich is 24px wide but halfway translated left*/
    }
    &__lines{
        @include flex-clm;
        gap: 25px;      
        &__line {
            @include guidelines-boxes;
            &__number {
                @include circle-number;
                transform: translate(-50%);
            }
        }
    }
}
/****RESTAURANTS****/

.restaurants {
    background-color: $secondary-bg-color;
    padding: $restrt-bx-paddg;
    &__title {
        padding-bottom: 27px;
    }
    &__cards {
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 18px;
    }

}

@media  (min-width: 768px) {
    .discover {
        &__title {
            font-size: $huge-title;
        }
    }
    .guidelines {
        > * {
            max-width: 1100px;
            margin: auto;
        }
        &__lines {
            @include flex-r-ai-center;
        }
    }
    .restaurants {
        > * {
            max-width: 1100px;
            margin: auto;
        }
        &__cards {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 50px 100px;
        }
    }
}