/****TOOLS****/
@mixin img-full-cover {
    width: 100%;
    object-fit: cover;
}
@mixin flex-r-jc-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flex-r-ai-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@mixin flex-r-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-clm {
    display: flex;
    flex-direction: column;
}

/****ELEMENTS OF HOME/FOOTER THAT CAN BE USED ON OTHER PAGES****/
@mixin filter-svg-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(18deg) brightness(105%) contrast(103%);
}
@mixin header-logo {
    width: 10rem;
    height: 2.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/****ELEMENTS OF HOME/GUIDELINES THAT COULD BE USED LATER****/
@mixin guidelines-boxes {
    width: 100%;
    max-width: 450px;
    height: 73px;
    background-color: $secondary-bg-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    @include flex-r-ai-center;
    gap: 23px;
    font-weight: 500;
}
@mixin circle-number {
    height: 24px;
    width: 24px;
    background-color: $bt-color1;
    border-radius: 50%;
    text-align: center;
    color: $footer-font-color;
    font-size: 0.875rem;
    @include flex-r-all-center;
}
/****ELEMENTS OF HOME/RESTAURANTS THAT COULD BE USED LATER****/

