    $main-bg-color: #ffffff;
    $secondary-bg-color: #F7F7F7;
    $third-bg-color: #EAEAEA;
    $fourth-color: #353535;
    $footer-font-color: #FFFFFF;
    $bt-color1: #9356DC;
    $bt-color2: #FF79DA;
    $highlight-color: #99E2D0;
    $big-title: 1.5rem;

