
/**COLORS**/
    $main-bg-color: #ffffff;
    $secondary-bg-color: #F7F7F7;
    $third-bg-color: #EAEAEA;
    $fourth-color: #353535;
    $loader-bg-color: #ffffff;
    $footer-font-color: #FFFFFF;
    $bt-color1: #9356DC;
    $bt-color2: #FF79DA;
    $linear-gradient-figma: linear-gradient(193.33deg, $bt-color1 -11.44%, $bt-color2 123.93%);
    $linear-gradient: linear-gradient(0deg, $bt-color1 -11.44%, $bt-color2 123.93%);
    $highlight-color: #99E2D0;
    $highlight-txt-color: #008766;
    
/**font sizes*/
    $loader-size: calc(3.5vw + 3.5vh + .5vmin);
    $counter-size: calc((1vw + 1vh + .5vmin)*2);
    $huge-title: 2.5rem;
    $bigger-title: 1.75rem;
    $big-title: 1.5rem;
    $small-title: 1.125rem;
    $small-txt: 0.9475rem;

/************menus*********/
    $dish-check-width: 59px;
    $dish-spacing-width: 15px;
    $dish-price-width: 41px;
    $dish-txt-widths: calc(100% - ($dish-price-width + $dish-check-width + 10px));
/**********HOME**********/

    /****LOADER****/
    $vertical-space: 6vh;
    $horizontal-space: 5vw;

    $counter-anim-duration: 2s;
    $counter-anim-delay: calc($counter-anim-duration*0.8);

    $imgs-anim-duration: 0.75s;
    $imgs-anim-delay: 2.7s;
    $img-anim-delay: calc($imgs-anim-duration/4);

    $logo-anim-duration: 0.35s;
    $logo-anim-delay: 4s;
    $letter-anim-delay: calc($logo-anim-duration/8);
    
    $total-loader-duration: max($logo-anim-duration, $imgs-anim-duration ) + max($logo-anim-delay, $imgs-anim-delay) + $counter-anim-duration;
    $loader-duration: $total-loader-duration + 0.15s ;
    $disappear-delay: $loader-duration + 0.1s; /**because there is a hight z-index : 
                                                needs to be gone just after the effects**/

    $alpha-adjust: 0.08;
    $loader-color1: adjust-color($bt-color1, $alpha: $alpha-adjust * (-1), $lightness: -8%);
    $loader-color2: adjust-color($bt-color2, $alpha: $alpha-adjust * (-1));
    /****DISCOVER****/
    $discover-bx-paddg: 40px 30px;

    /****GUIDELINES****/
    $guidelines-bx-paddg: 23px 20px 68px 32px; /*ici gauche et droite != car décalage de 12px du rond rose*/

    /****RESTAURANTS****/
    $restrt-bx-paddg: 50px 15px;
    $restrt-bx-paddg-768up: 30px 20px;